@font-face {
  src: url(../fonts/AkzidenzGroteskPro-Regular.otf);
  font-family: AkzidenzGroteskPro-Regular;
}

@font-face {
  src: url(../fonts/AkzidenzGroteskPro-Md.otf);
  font-family: AkzidenzGroteskPro-Md;
}


* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.body {
  -webkit-font-smoothing: antialiased;
}

.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 130px;
  padding: 0 78px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  z-index: 2;
}

.mainSection {
  width: 1180px;
  margin: auto;
  margin-top: 144px;


  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: flex-start;
}

.mainText {
  width: 100%;
  margin: auto;
  margin-top: 200px;
}

.gray {
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: AkzidenzGroteskPro-Md;
  font-size: 24px;
  line-height: 130px;
  color: #000000;
  letter-spacing: 2px;
}

h1>a:hover {
  text-decoration: underline;
}

h2 {
  font-family: AkzidenzGroteskPro-Regular;
  font-size: 48px;
  letter-spacing: 2px;
  line-height: 72px;
  text-align: center;
  user-select: none;
}

h3 {
  font-family: AkzidenzGroteskPro-Regular;
  font-size: 20px;
  color: #000000;
  letter-spacing: 1px;
  line-height: 21px;

  margin-top: 18px;
  width: 100%;

  transition: .3s;

}

h4 {
  font-family: AkzidenzGroteskPro-Regular;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0.58px;

  margin-top: 8px;
  width: 100%;
}

.card {
  cursor: pointer;
  margin-top: 82px;
}

.card:hover>h3 {
  text-decoration: underline;
}

.card:hover>img {
  /* transform: scale(1.01); */
}

.card img {
  box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.20);
  transition: .3s;
}

.vertical {
  width: 394px;
}

.horizontal {
  width: 707px;
}

.col11 {
  width: 864px;
  margin: 0 calc((100% - 864px) / 2);
}

.card>.col11 {
  margin-top: 123px;
  /* margin-bottom: 39px; */
}

#card9 {margin-top: 0;}
#card9>img {width: 1180px;}

#card3 img {
  box-shadow: 2px 2px 12px 0 rgba(0,0,0,0);
  transform: translate(-8px, -11px);
}

#card1 {
  margin: 123px calc((100% - 707px) / 2);
}
