.mainSection {
  display: block;
  width: 100vw;



  /* margin-top: -300px; */
  z-index: -1;
}

.mainText {
  z-index: 9;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookSection {
  background-color: yellow;
  width: 100%;
  min-width: 1440px;
  height: 800px;

  margin: -200px 0;


  z-index: -1;
}

.right {
  clip-path: polygon(0 0, 100% 25%, 100% 75%, 0% 100%);
  background-color: yellow;
}

.left {
  clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 75%);
  background-color: red;

}

/* svg {
  width: 100%;
  height: 900px;

  margin-top: -300px

} */
