.centerText {
  text-align: center;
  margin: auto;

  margin-top: 48px;
}

a:hover h3{
  text-decoration: underline;
}

.mainSection {
  margin-top: 0;
  /* width: 1102; */
}

.centerText {
  margin-top: 24px;
}

.fullWidth {
  width: 100%;
  position: relative;
  margin-bottom: 120px;
}

.privichki {
  width: 100%;
}

.privichki+.bookCaption {
  margin-top: -180px;
  margin-left: 220px;
}

.halfWidth {
  width: 551px;
  height: 633px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin: 60px 0;
  padding: 0 78px;
}

.halfWidth img {
  box-shadow: 2px 2px 12px 0 rgba(0,0,0,0.20);
}

.big {
  width: 394px;
}

.small {
  width: 314px;
}

.bookCaption {
  margin-top: 24px;
}

.another {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 48px;
}
